.ipynb_checkpoints
cifar-10-batches-py/
*.tar.gz
*.p
__pycache__/
*.data-00000-of-00001
*.index
*.meta
checkpoint
Image_Classification_2/
fruits-360/
fruits-360_dataset_2018_02_08/
Training_Images/
Testing_Images/
*.model
proposal.zip
fast-style-transfer/
Cat_Dog_data/
checkpoint.pth
mnist-mlp/data/
